.More-Info-Contact {
   overflow: hidden;
}
.Contacts {
   float: right;
}
.Contact-Photo {
   float: left;
}
.Contact-Name {
   display: block;
   font-weight: bold;
   margin-bottom: 10px;
}
.Contact-Phone {
   display: block;
   font-weight: bold;
   margin-bottom: 10px;
}
.Contact-Email {
   display: block;
   font-weight: bold;
   margin-bottom: 10px;
}
.Close {
   float: right;
}