.Button {
   background-color: transparent;
   border: 1px solid;
   color: black;
   outline: none;
   cursor: pointer;
   font: inherit;
   padding: 10px;
   margin: 10px;
   font-weight: bold;

}

.Button:first-of-type {
   margin-left: 0;
   padding-left: 0;
}