h4 {
   width: 30%;
   display: inline-block;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 10px auto;
   box-sizing: border-box;
   vertical-align: middle;
}
button {
   width: 30%;
   display: inline-block;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 10px auto;
   box-sizing: border-box;
   vertical-align: middle;
   cursor: pointer;
}
header {
   width: 50%;
   margin: 0 auto;
   overflow: hidden;
   text-align: center;
}